<!doctype html>
<head>
  <title>
    Select the necessities for your image:
  </title>
<style>

table {
  border: 1px solid black;
}

thead {
  border: 1px solid black;
}

tr {
  border: 1px solid black;
}

th {
  border: 1px solid black;
}

tbody {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

</style>
</head>
<body>
  <h1>automated docker image builder to test OCA modules</h1>
  <form method="post">
    <table>
      <thead>
        <tr>
          <th>select</th>
          <th>repo</th>
        </tr>
      </thead>
      <tbody>
        {% for r in repos %}
            <tr>
              <td><input type="checkbox" name="{{ r['name'] }}" value="{{ r['svn_url'] }}"></td>
              <td>{{ r['name'] }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit">
  </form>
</body>