<!doctype html>
<body>
  <h1>automated docker image builder to test OCA modules</h1>
  <form method="post">
    <table style="border: 1px solid black">
      <thead style="border: 1px solid black">
        <tr style="border: 1px solid black">
          <th style="border: 1px solid black">select</th>
          <th style="border: 1px solid black">repo</th>
        </tr>
      </thead>
      <tbody>
        {% for r in repos %}
            <tr style="border: 1px solid black">
              <td style="border: 1px solid black"><input type="checkbox" name="{{ r['name'] }}" value="{{ r['ssh_url'] }}"></td>
              <td style="border: 1px solid black">{{ r['name'] }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit">
  </form>
</body>